################################################################################
## HDLMAKE
# generated tcl scripts
*.tcl

# generated Makefiles
Makefile
synthesis/*/run.py

# generated targets
project
synthesize
par
bitstream

################################################################################
## VIVADO
# output log and journal files
*.log
*.jou

# generated folders
*.cache/
*.hw/
*.ip_user_files/
*.runs/
*.sim/
*.srcs/

# vivado project
*.xpr

################################################################################
